{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Enter New Items</h2>
        <form action="/receive_form" method="POST" class="form-ex">
          <div class="form-ex">
            <label for="New title">New Title:</label>
            <input type="text" id="NewTitle" name="NewTitle" required>
            <input type="submit" value="Submit">  
          </div>
        </form>
      <h2>Move To Done</h2>
        <form action="/save_form" method="POST" class="form-ex">
          <div class="form-ex">
            <label for="Move title">Move Title:</label>
            <input type="text" id="MoveTitle" name="MoveTitle" required>
            <input type="submit" value="Submit">  
          </div>
        </form>
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!--{% for item in items %}
          <li>ID:- {{ item.id }} - "{{ item.name }}" - [{{ item.text }}] - [Updated:- {{ item.lastActivity }}]</li>
        {% endfor %}-->
        {% for item in view_model.items %}
          <!--# do stuff-->
          <li>ID:- {{ item.id }} - "{{ item.name }}" - [{{ item.text }}] - [Updated:- {{ item.lastActivity }}]</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}